.signin-button a {
  background-color: #66A473;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    padding: 10px 20px;
  }
  
  nav img {
    height: 60px;
    width: auto;
  }
  
  nav ul {
    display: flex;
    margin-right : 500px;
    margin-left: 100px;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  .workspace-thing{
    margin-right:100px;
    margin-left:-350px;
  }

  .enterprise-thing{
    margin-right:100px;
  }

  .contact-thing{
    margin-right:100px;
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}
  
.text-section {
    width: 40%;
    padding: 20px;
    text-align: center;
}
  
/* .image-section {
    width: 100px;
    height:135%;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 500px;
} */

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.location-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
  
.location-item i {
    font-size: 18px;
    margin-right: 10px;
}
  
.location-item span {
    font-size: 16px;
}
  
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.submit-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-stuffs {
  position: relative;
}

/* .sign-in-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/*   
.sign-in-button{
  margin-top:-600px;
  margin-right: 500px;
  /* top: 100px; */
  /* left: 50%; */
  /* height: 200px; */
  /* transform: translate(100%, 100%); */
  /* } */ */

  .container {
    position: relative;
	  width: 40%;
	  border: 2px solid blue;	
  }
.image-section {
     width: 100%;
	 
  }
.button{
  position: absolute;
	padding: 16px;
	background-color: green;
	border-radius: 16px;
	bottom: 10px;
	left: 200px;
	width: 100px;
  }