.signin-button a {
  background-color: #66A473;
  color: white;
  top:34%;
  right:40%;
  border-radius: 10%;
  text-decoration: none;
  /* position:absolute; */
  position:relative;
  padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    padding: 1% 2%;
    padding-left:5%
  }
  
  nav img {
    height: 65px;
    width: auto;
  }
  
  nav ul {
    display: flex;
    margin-right : 26%;
    margin-left: 4%;
  }
  
  nav li {
    margin: 0% 0.5%;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  .workspace-thing{
    margin-right:45%;
    margin-left:-105%;
    margin-top:4%;
    font-size:90%;
    font-weight:bolder;
  }

  .enterprise-thing{
    margin-right:45%;
    margin-top:4%;
    font-size:90%;
    font-weight:bolder;
  }

  .contact-thing{
    margin-right:45%;
    margin-top:4%;
    font-size:90%;
    font-weight:bolder;
  }

  .logo_thing{
    margin-top:10%;
    margin-left:3%;
    font-size:139%
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-left:2%;
}
  
.text-section {
    margin-bottom:20%;
    text-align: left;
    margin-left:4%;
    margin-right:22%;
}
.text-section h1{
  color: #66A473;
  line-height:125%
}

.text-section p{
  color:gray;
  line-height:150%
}

/* .image-section {
    width: 100px;
    height:135%;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 500px;
} */

/* .dropdown {
    position: relative;
    display: inline-block;
} */

.dropdown_label{
  font-size:85%;
  margin-bottom:0%;
}
  
.dropdown-button {
    background-color: white;
    color: black;
    padding:  3% 6%;
    padding-right:0%;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 17.5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom:1%;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown_container{
  border: gray solid 1px;
  border-radius:5%;
  width:70%;
  color:gray;
  font-weight:bolder;
  font-size:105%;
  display:flex;
  justify-content:flex-start;
  vertical-align: middle;
}
  
.dropdown_container p{
  margin-top:-1.5%;
  margin-bottom:0%;
  margin-left:4%;
}
.location-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
  
.location-item i {
    font-size: 18px;
    margin-right: 10px;
}
  
.location-item span {
    font-size: 16px;
}

.location-marker{
  height:16px;
}

.location-triangle{
  height:16px;
  margin-left:26%;
  margin-top:1%;
}
  
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.submit-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-stuffs {
  position: relative;
}

/* .sign-in-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/*   
.sign-in-button{
  margin-top:-600px;
  margin-right: 500px;
  /* top: 100px; */
  /* left: 50%; */
  /* height: 200px; */
  /* transform: translate(100%, 100%); */
  /* } */ */

  .container {
    position: relative;
	  width: 40%;
	  border: 2px solid blue;	
  }
.image-section {
     width: 100%;
	 
  }
.button{
  position: absolute;
	padding: 16px;
	background-color: green;
	border-radius: 16px;
	bottom: 10px;
	left: 200px;
	width: 100px;
  }

  .logo{
    display:flex;
    justify-content:center;
  }

  body{
    font-family:inter;
  }